name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v3
        with:
          cache: true

      - run: mise run install

      - run: mise run test
